<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <div id="videos">
        
    </div>
    <br />
    <br />
    <button id="start-video">Start video</button>
    <button id="stop-video">Stop video</button>

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        function onSuccess() { };
        function onError(error) {
            console.error(error);
        };

        let startVideo = document.getElementById("start-video"),
            stopVideo = document.getElementById("stop-video"),
            localVideo,
            remoteVideo,
            videos = document.getElementById("videos"),
            configuration = {
                'iceServers':
                    [{ 'url': 'stun:stun.services.mozilla.com' }, { 'url': 'stun:stun.l.google.com:19302' }]
            },
            pc = new RTCPeerConnection(configuration);

        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/signal")
            .build();

        hubConnection.start();

        let localDescCreated = (desc) => {
            pc.setLocalDescription(
                desc,
                () => hubConnection.invoke("Send", { 'sdp': pc.localDescription }),
                onError
            );
        }

        startVideo.addEventListener("click", event => {
            videos.innerHTML = "<video id=\"local-video\" style=\"width: 400px; height: 300px; border: 2px solid black;\" autoplay></video>";
            localVideo = document.getElementById("local-video");

            navigator.mediaDevices.getUserMedia({
                audio: true,
                video: true,
            }).then(stream => {
                localVideo.srcObject = stream;
                pc.addStream(stream);
            }, onError);
        });

        pc.onicecandidate = event => {
            if (event.candidate) {
                hubConnection.invoke("Send", { 'candidate': event.candidate });
            }
        };

        pc.onnegotiationneeded = event => {
            pc.createOffer().then(localDescCreated).catch(onError);
        }

        pc.onconnectionstatechange = e => {
            console.log(pc.connectionState);
        }

        pc.onaddstream = event => {
            videos.innerHTML = "<video id=\"remote-video\" style=\"width: 400px; height: 300px; border: 2px solid black;\" autoplay></video>";
            remoteVideo = document.getElementById("remote-video");
            remoteVideo.srcObject = event.stream;
        };

        hubConnection.on("Send", data => {
            if (data.sdp) {
                pc.setRemoteDescription(new RTCSessionDescription(data.sdp), () => {
                    if (pc.remoteDescription.type === 'offer') {
                        pc.createAnswer().then(localDescCreated).catch(onError);
                    }
                }, onError);
            } else if (data.candidate) {
                pc.addIceCandidate(
                    new RTCIceCandidate(data.candidate), onSuccess, onError
                );
            }
        });

        stopVideo.addEventListener("click", event => {
            localVideo.srcObject.getTracks().forEach(track => track.stop());
            localVideo.src = "";
        });
    </script>
</body>
</html>